.hsection{
	margin-top: -15px;
	width: 100% ;
	height: 20% ; 
	text-align: center;
	color: cyan ;
	font-size: 20px;
	font-family: Lucida console ;



} 

table , th ,td {

	border: 1px solid BurlyWood ;
	border-collapse: collapse;
     margin-top : 10px;

	font-family: Lucida console ;


}
a{

	text-decoration: none;
	color: SeaShell   ;
	font-size: 18px;



}
a:hover{

	color: GreenYellow   ;

}
th{

	color: #FFFF00   ;
	font-size: 25px;
	text-align: center;
}
table {

	border-spacing: 30px;
}
td{

	padding-left: 5px; 
	padding-top: 15px;
}